<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <!-- Add your CSS stylesheets here -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="about">
        <div class="container">
            <div class="about-content">
                <div class="author-info">
                    <div class="author-image">
                        <img src="/img/emeka1.jpg" alt="person wearing facecap" width="200" height="200">
                        
                        <p class="image-caption"><strong>Software Engineer</strong></p>
                    </div>
                    <div class="author-details">
                        <h2 class="author__heading">Welcome to my corner</h2>
                        <p class="author__body">I'm Chukwuemeka Obanya, a second-year student pursuing Business Intelligence Technology at Centria University of Applied Sciences. Originally from Nigeria, I've found my passion for unraveling data mysteries while immersing myself in the world of technology. Beyond academics, two of my greatest passions reign supreme: football and chess. As a devoted Liverpool FC fan, you'll often find me cheering on my beloved team with fervor. Off the field, I enjoy the intellectual challenge and strategic depth of chess. When I'm not analyzing data or strategizing my next chess move, you'll likely catch me honing my skills on FIFA, a game I thoroughly enjoy on PlayStation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include jQuery Library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3Q..." crossorigin="anonymous"></script>

    <!-- jQuery Script for Event Handling -->
    <script type="text/javascript">
        $(document).ready(function() {
            // Example jQuery code for handling a click event
            $('.author-image img').click(function() {
                // Do something when the image is clicked
                alert('Image clicked!');
            });
        });
    </script>
</body>
</html>



